
<div class="factory-container">
    <p class="factory-header"><b>Component factory</b></p>
    <p>Use buttons below to create, edit or remove components</p>
    <p>Components number: {{componentsData.length}} <button (click)="reset()" *ngIf="componentsData.length!==0">Reset</button></p>
    
    <p class="subheader"><b>Text content components</b></p>
    <p>Creating</p>
    <div class="buttons">
        <button (click)="createComponents(1000, 'text')">Create 1000 components</button>
        <button (click)="createComponents(10000, 'text')">Create 10000 components</button>
        <button (click)="createComponents(20000, 'text')">Create 20000 components</button>
        <button (click)="createComponents(30000, 'text')">Create 30000 components</button>
    </div>
    <p>Editing</p>
    <div class="buttons">
        <button (click)="editComponents(1000, 'text')">Edit 1000 components</button>
        <button (click)="editComponents(10000, 'text')">Edit 10000 components</button>
        <button (click)="editComponents(20000, 'text')">Edit 20000 components</button>
        <button (click)="editComponents(30000, 'text')">Edit 30000 components</button>
    </div>
    <p>Removing</p>
    <div class="buttons">
        <button (click)="removeComponents(1000)">Remove 1000 components</button>
        <button (click)="removeComponents(10000)">Remove 10000 components</button>
        <button (click)="removeComponents(20000)">Remove 20000 components</button>
        <button (click)="removeComponents(30000)">Remove 30000 components</button>
    </div>

    <p class="subheader"><b>Graphic content components</b></p>
    <p>Creating</p>
    <div class="buttons">
        <button (click)="createComponents(1000, 'graphic')">Create 1000 components</button>
        <button (click)="createComponents(10000, 'graphic')">Create 10000 components</button>
        <button (click)="createComponents(20000, 'graphic')">Create 20000 components</button>
        <button (click)="createComponents(30000, 'graphic')">Create 30000 components</button>
    </div>
    <p>Editing</p>
    <div class="buttons">
        <button (click)="editComponents(1000, 'graphic')">Edit 1000 components</button>
        <button (click)="editComponents(10000, 'graphic')">Edit 10000 components</button>
        <button (click)="editComponents(20000, 'graphic')">Edit 20000 components</button>
        <button (click)="editComponents(30000, 'graphic')">Edit 30000 components</button>
    </div>
    <p>Removing</p>
    <div class="buttons">
        <button (click)="removeComponents(1000)">Remove 1000 components</button>
        <button (click)="removeComponents(10000)">Remove 10000 components</button>
        <button (click)="removeComponents(20000)">Remove 20000 components</button>
        <button (click)="removeComponents(30000)">Remove 30000 components</button>
    </div>

    <p class="subheader"><b>Mixed content components</b></p>
    <p>Creating</p>
    <div class="buttons">
        <button (click)="createComponents(1000, 'mixed')">Create 1000 components</button>
        <button (click)="createComponents(10000, 'mixed')">Create 10000 components</button>
        <button (click)="createComponents(20000, 'mixed')">Create 20000 components</button>
        <button (click)="createComponents(30000, 'mixed')">Create 30000 components</button>
    </div>
    <p>Editing</p>
    <div class="buttons">
        <button (click)="editComponents(1000, 'mixed')">Edit 1000 components</button>
        <button (click)="editComponents(10000, 'mixed')">Edit 10000 components</button>
        <button (click)="editComponents(20000, 'mixed')">Edit 20000 components</button>
        <button (click)="editComponents(30000, 'mixed')">Edit 30000 components</button>
    </div>
    <p>Removing</p>
    <div class="buttons">
        <button (click)="removeComponents(1000)">Remove 1000 components</button>
        <button (click)="removeComponents(10000)">Remove 10000 components</button>
        <button (click)="removeComponents(20000)">Remove 20000 components</button>
        <button (click)="removeComponents(30000)">Remove 30000 components</button>
    </div>

    <div class="components">
        <div *ngFor="let componentData of componentsData; index as i">
            <app-factory-test-item [textContent]="componentData.textContent" [graphicContent]="componentData.graphicContent" [index]="i" [editTime]="editTime" [destroyTime]="destroyTime"></app-factory-test-item>
        </div>
    </div>

</div>
